<%= render 'search' %>
<h1>
  <div class="top-bar">
    <% if @search_query.present? %>
      <%= t '.search_results' %>
    <% else %>
      <%= t '.title' %>
    <% end %>
  </div>
</h1>
<%= render @rooms %>
<%= paginate @rooms %>